@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
  body {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

@layer utilities {
  .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px;
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 16px;
    background-clip: padding-box;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 30px;
  }
}
